{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Information</h1>
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://think.cs.vt.edu/corgis/json/cancer/">here</a>. The data contains statistics about cancer death rates by state or by 100,000 population from the years 2007 to 2013
      so the data is a bit outdated but still valubale. If you would like to you can do your own research on the (National Cancer Institute) NCI's offical website were they have 
      a lot of statistics for death rates, survival rates, cancer's biolodgy and much much more you can check them out <a https://www.cancer.gov/research">here</a></p>
    
{% endblock %}
